header,
.blog:not(:last-child) {
  border-bottom: 0.1rem solid #ccc;
}
h1,
.likecount,
.dislikecount {
  font-family: 'Special Elite', cursive;
}
nav {
  float: right;
}
nav ul li {
  display: inline-flex;
  justify-content: space-around;
  padding: 0.75rem;
}
.likecount,
.dislikecount {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.like-btn {
  color: darkgreen;
  border-radius: 0.75rem;
}
.dislike-btn {
  color: darkred;
  border-radius: 0.75rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  color: darkgoldenrod;
}

textarea {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

body {
  background-color: rgb(246, 249, 252);
  background-image: url('../images/annie-spratt-qyAka7W5uMY-unsplash.jpg');
}

main {
  background-color: rgba(248, 248, 255, 0.625);
  border-radius: 0.5rem;
  padding: 1rem;
}

.newBlogForm {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

header {
  background-color: rgb(20, 58, 58);
  color: darkgoldenrod;
}
/* Text color of links set when unvisited. */
a:link {
  color: darkgoldenrod;
}
/* Text color of links set when visited, i.e. after the link has been clicked on. */
a:visited {
  color: darkgoldenrod;
}
/* Text color changes and box appears when mouse hovers over link. */
a:hover {
  color: rgb(135, 103, 23);
}
button:hover {
  color: rgb(135, 103, 23);
  opacity: 0.8;
}
label:hover {
  color: rgb(135, 103, 23);
  opacity: 0.8;
}
.comment-btn {
  background-color: rgb(36, 86, 87);
  color: whitesmoke;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: white;
}
.comment-btn:hover {
  color: whitesmoke;
}

.imagesize img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

@media screen and (max-width: 599px) {
  nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
@media screen and (max-width: 446px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

@media screen and (max-width: 385px) {
  .imagesize img {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 356px) {
  header {
    margin: 1rem;
  }
}
@media screen and (max-width: 285px) {
  .imagesize img {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
  }
}
